div#nav
	ul
		li: a(href='/locales') Locale
		li: a(href='/brands') Brand
		li: a(href='/sizes') Size
		li: a(href='/articles') Article
		li: a(href='/genders') Gender
		li: a(href='/profiles') Profile
		li: a(href='/ext-ui/ext-4.0.7-gpl/') ExtJS Examples