div#topregion
      div.h1col
        h1 Fashion Helper
      div.homecol
        a(href="/") Home
        span
          != ' | '
        a(href="/login") Login
        span
          != ' | '
        a(href="/portal") Portal
      div.clearboth