extends layout

block content
	p: a(href="/articles/new") New Article
	#articles_list
		- if(data.length)
			!= partial('articles_list', {collection: data, as: 'article'})
		- else
			#no-results No articles found. Add them 
				a(href="/articles/new") here
