extends layout

block content
	div#formcntnr
		form(action='/articles/'+id, method='post')
			label(for='type')
			input(name='type', id='type', value=type)
			input(type="hidden", name="_method", value="put")
			input(type='submit', value='Update')