extends layout

block content
	div#formcntnr
		form(action='/brands/'+id, method='post')
			label(for='brand')
			input(name='brand', id='brand', value=name)
			input(type="hidden", name="_method", value="put")
			input(type='submit', value='Update')