extends layout

block css
	link(rel='stylesheet', href='/stylesheets/style.css')

block scripts

block content
	div#formcntnr
		form(action='/locales/'+id, method='post')
			label(for='name')
			input(name='name', id='name', value=name)
			input(type="hidden", name="_method", value="put")
			input(type='submit', value='add')