extends layout

block css
	link(rel='stylesheet', href='/stylesheets/style.css')

block scripts

block content
	div#formcntnr
		form(action='/locales/'+id, method='post')
			label(for='locale')
			input(name='locale', id='locale', value=name)
			input(type="hidden", name="_method", value="put")
			input(type='submit', value='add')