extends layout

block content
	div.profilecntnr
			a(href='/profiles/'+data.profile.id+'/edit', title='Edit '+data.profile.name) #{data.profile.name}
			form(method='post', action='/profiles/'+data.profile.id)
				input(type='hidden', name='_method', value='DELETE')
				input(type='submit', value='Delete')